<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">
        <img src="resources/app-icon2.png" class="img-icon-top" height="50px">
        Aggregate.io
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        </ul>
        <div ng-if="rootUser">
          <a class='navbar-brand', href='/users/{{rootUser._id}}'>
            {{rootUser.username}}
             <img src='{{rootUser.profilePicture}}', style='height: 50px; width: 50px; margin-left: 5px; border-radius: 50%;'>
          </a>
        </div>
        <div ng-if="!rootUser">
          <a class='navbar-brand', href='/login'>Login</a>
        </div>
      </div>
</nav>