<glava></glava>
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container" style="height:666px">
      <div class="row">
        <section class="jumbotron container text-center">
    <div class="container">
      <img src="resources/app-icon2.png" style="height: 40px; margin-right: 5px"></img>
      <h1 class="jumbotron-heading">Log in to Aggregate.io</h1>
      <br>
      <div>
        <form ng-submit="vm.login()">
          <input class="form-control mr-sm-2" type="email" name = "email" id="email" placeholder="Email" ng-model="vm.prijavniPodatki.email" required>
          <input class="form-control mr-sm-2" type="password" name = "password" id="password" placeholder="Password" ng-model="vm.prijavniPodatki.password" required>
          <br>
          <button type="submit" class="btn btn-primary my-2">Login</button>
        </form>
      </div>
        <a href="#" class="btn">Forgot password?</a>
    </div>
  </section>
  <section class="jumbotron container text-center" style="border: 1px">
    <p style="font-size: 25px">New to Aggregate.io? <a href="/register">Create an account</a></p>
  </section>
      </div>
    </div>
  </div>
</main>
