<glava></glava>
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <section class="jumbotron container text-left">
          <div class="container">
            <div ng-if="vm.typeID == 1">
              <h1 class="jumbotron-heading">Share your Image</h1>
            </div>
            <div ng-if="vm.typeID == 2">
              <h1 class="jumbotron-heading">Share your Embed Link</h1>
            </div>
            <div ng-if="vm.typeID == 3">
              <h1 class="jumbotron-heading">Share your Story</h1>
            </div>            
            <br>
            <form ng-submit="vm.dodajPost()" method="POST">
              <p>
                <div class="form-group">
                    <label for="title">Title:</label> <br>
                    <input ng-model = "vm.title" class ="form-control" type="text" name="title" id="title" required>
                    <div ng-if="vm.titleRes == 'true'" class="alert alert-warning">Med 1 in 20 znakov</div>
                  </div>
                <div ng-if="vm.typeID == 1 || vm.typeID == 2">
                  <div class="form-group">
                    <label for="url">URL:</label> <br>
                    <input ng-model = "vm.url" class ="form-control" type="url" name="url" id="url" placeholder="https://example.com" required>
                    <div ng-if="vm.urlRes == 'true'" class="alert alert-warning">Neveljaven format</div>
                  </div>
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea ng-model="vm.description" class="form-control" id="description" name="description" rows="5" required></textarea>
                    <div ng-if="vm.desRes == 'true'" class="alert alert-warning">Med 1 in 500 znakov</div>
                  </div>
                </div>
                <div ng-if="vm.typeID == 3">
                  <div class="form-group">
                    <label for="description">Your Story</label>
                    <textarea ng-model ="vm.description" class="form-control" id="description" name="description" rows="5" required></textarea>
                    <div ng-if="vm.desRes == 'true'" class="alert alert-warning">Med 1 in 500 znakov</div>
                  </div>
                </div>
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input ng-model ="vm.tags" class="form-control" id="tags" name="tags" required></input>
                    <div ng-if="vm.tagsRes == 'true'" class="alert alert-warning">Neveljaven format</div>
                </div>
                <div ng-if="vm.typeID == 1">
                  <button type="submit" class="btn btn-primary my-2">Share Image</button>
                </div>
                <div ng-if="vm.typeID == 2">
                  <button type="submit" class="btn btn-primary my-2">Share Embed</button>
                </div>
                <div ng-if="vm.typeID == 3">
                  <button type="submit" class="btn btn-primary my-2">Share Story</button>
                </div>
              </p>
            </form>
            <div ng-if="vm.response == 'success'" class="alert alert-info">Post je bil dodan!</div>
            <div ng-if="vm.response == 'errorAdd'" class="alert alert-danger">Ne veljaven link!</div>
            <div ng-if="vm.response == 'errorGet'" class="alert alert-danger">Ne veljaven uporabnik!</div>
            <div ng-if="vm.response == 'errorPost'" class="alert alert-danger">Pri posodabljanju uporabnika je prislo do napake!</div>
            
          </div>
      </div>
    </div>
  </div>
</main>