<glava></glava>
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <section class="jumbotron container text-left">
          <div class="container">
            <div ng-if="vm.typeID == 1">
              <h1 class="jumbotron-heading">Share your Image</h1>
            </div>
            <div ng-if="vm.typeID == 2">
              <h1 class="jumbotron-heading">Share your Embed Link</h1>
            </div>
            <div ng-if="vm.typeID == 3">
              <h1 class="jumbotron-heading">Share your Story</h1>
            </div>            
            <br>
            <p>
              <div ng-if="vm.typeID == 1 || vm.typeID == 2">
                <div class="form-group">
                  <label for="url">URL:</label> <br>
                  <input class ="form-control" type="url" name="url" id="url" placeholder="https://example.com" required>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Description</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
              </div>
              <div ng-if="vm.typeID == 3">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Your Story</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
              </div>
              <a>Tags</a> 
              <input class="form-control mr-sm-2" type="text" placeholder = "#Sun">
              <div ng-if="vm.typeID == 1">
                <a href="indexPrijavljen.html" class="btn btn-primary my-2">Share Image</a>
              </div>
              <div ng-if="vm.typeID == 2">
                <a href="indexPrijavljen.html" class="btn btn-primary my-2">Share Embed</a>
              </div>
              <div ng-if="vm.typeID == 3">
                <a href="indexPrijavljen.html" class="btn btn-primary my-2">Share Story</a>
              </div>
            </p>
          </div>
      </div>
    </div>
  </div>
</main>