extends layout

block bootStyle
    link(rel='stylesheet', href='../../stylesheets/styles.css')
    link(href='../../bootstrap.min.css', rel='stylesheet')
    
block content
    main(role='main')
        div(class='album py-5 bg-light')
            div(class='container')
                div(class='row')
                    section(class='jumbotron container text-left')
                        div(class='container')
                            h1(class='jumbotron-heading')
                                | Share your picture
                            b &nbsp;
                            p
                                form(method='POST' action='/users/userID/addPicture')
                                    div(style='position:relative;')
                                        a Post your Picture
                                            label(for="website")
                                            input#website.form-control.mr-sm-2(type='text', placeholder = 'http://www.novosti.rs/upload/images/2017a//12/05n/19Krstic.jpg', name='website', required)
                                        b &nbsp;
                                        span(class='label label-info', id='upload-file-info')
                                    div
                                        p &nbsp;
                                    a Naslov:
                                    label(for="naslov").col-md-3.control-label
                                    input#naslov.form-control(type="naslov", placeholder="Naslov", name="naslov")
                                    div(class='form-group')
                                        label(for='exampleFormControlTextarea1')
                                            | Description
                                        textarea#exampleFormControlTextarea1.form-control(rows='5', name="exampleFormControlTextarea1")
                                    //-a Tags
                                    //-input(id='tagi',class='form-control mr-sm-2', type='text', placeholder = '#Sun')
                                    a Tags:
                                    label(for="tagi").col-md-3.control-label
                                    input#tagi.form-control(type="tagi", placeholder="#Sun", name="tagi")
                                    button.btn.btn-primary(type='submit')
                                        | Share picture

block endSkripti
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')