 <glava></glava>
 <main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <h1>Edit Profile</h1>
            <hr/>
            <div class="row">
                <!-- left column-->
                <div class="col-md-3">
                    <div class="text-center">
                        <img src="{{vm.user.profilePicture}}" class="rounded-circle profile-img" alt="Card image cap" />
                        <h6>Upload a different photo...</h6>
                        <div style="position:relative;">
                        <input ng-model = "vm.url" class ="form-control" type="url" name="url" id="url" placeholder="https://example.com">
                        </div>
                    </div>
                </div>
                <!-- edit form column-->
                <div class="col-md-9 personal-info">
                    <div class="alert alert-info alert-dismissable"><a class="panel-close close" data-dismiss="alert">×</a><i class="fa fa-coffee"></i> This is an <strong>.alert</strong>. Use this to show important messages to the user.</div>
                    <h3>Personal info</h3>
                    <!--<form method="POST" action="/users/userID/editProfile"> -->
                    <form ng-submit="vm.editP(rootUser)" method="PUT">
                        <div class="form-group"><label class="col-lg-3 control-label" for="name">Name:</label>
                            <div class="col-lg-8"><input ng-model="vm.novName" class="form-control" id="name" type="text" placeholder="Bane" name="name" /></div>
                        </div>
                        <div class="form-group"><label class="col-lg-3 control-label" for="surname">Surname:</label>
                            <div class="col-lg-8"><input ng-model="vm.novSurname" class="form-control" id="surname" type="text" placeholder="Krstič" name="surname" /></div>
                        </div>
                        <div class="form-group"><label class="col-lg-3 control-label" for="username">Username:</label>
                            <div class="col-lg-8"><input ng-model="vm.novUsername" class="form-control" id="username" type="text" placeholder="BaneK" name="username" /></div>
                        </div>
                        <div class="form-group"><label class="col-lg-3 control-label" for="website">Website:</label>
                            <div class="col-lg-8"><input ng-model="vm.novWebsite" class="form-control" id="website" type="text" placeholder="www.BaneKrstič.si" name="website" /></div>
                        </div>
                        <div class="form-group"><label class="col-lg-3 control-label" for="textArea">Bio</label>
                            <div class="col-lg-8"><textarea ng-model="vm.novBio" class="form-control" id="textArea" form="usrform" rows="3" placeholder="priden                pošten                delaven" name="textArea"></textarea></div>
                        </div>
                        <div class="form-group"><label class="col-lg-3 control-label" for="email">Email:</label>
                            <div class="col-lg-8"><input ng-model="vm.novEmail" class="form-control" id="email" type="email" placeholder="banekrstic@gmail.com" name="email" /></div>
                        </div>
                        <div class="form-group"><label class="col-lg-3 control-label">Time Zone:</label>
                            <div class="col-lg-8">
                                <div class="ui-select"><select ng-model="vm.novTZ" class="form-control" id="user_time_zone"><ul><option value="Hawaii">(GMT-10:00) Hawaii</option><option value="Alaska">(GMT-09:00) Alaska</option><option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option><option value="Arizona">(GMT-07:00) Arizona</option><option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option><option value="Central Time (US &amp; Canada)">(GMT-06:00) Central Time (US &amp; Canada)</option><option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option><option value="Indiana (East)">(GMT-05:00) Indiana (East)</option></ul></select></div>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-md-3 control-label" for="password">Password:</label>
                            <div class="col-md-8"><input ng-model="vm.novPassword" class="form-control" id="password" type="password" placeholder="password" name="password" /></div>
                        </div>
                        <div class="form-group"><label class="col-md-3 control-label" for="password2">Confirm password:</label>
                            <div class="col-md-8"><input ng-model="vm.novPassword2" class="form-control" id="password2" type="password" placeholder="password" name="password2" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <button  class="btn btn-primary" id="gumb" type="submit" style="align: left;">Save Changes</button>
                                <a href='/users/{{rootUser._id}}' >Cancel </a>
                            </label>
                        </div>
                        <div ng-if="vm.response == 'success'" class="alert alert-info">Podatki so uspesno spremenjeni!</div>
                        <div ng-if="vm.response == 'errorAdd'" class="alert alert-danger">Napaka!</div>
                        <div ng-if="vm.response == 'brezp'" class="alert alert-danger">Izpolni vsa polja!</div>
                </div>
            </div>
        </div>
        <hr/>
    </div>
</main>