<glava></glava>
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <section class="jumbotron container text-center">
            <div class="container">
              <h1 class="jumbotron-heading">Edit your post</h1>
              <b>&nbsp;</b>
              <p>
                    <div style="position:relative;">
                        <div ng-if="vm.post.body.bodyType == 'image'">
                          <div ng-if="vm.post.body.content != undefined">
                            <div ng-if="vm.post.body.content == '' ">
                              <img class='card-img-top', src='../resources/A_01.jpg', alt='Card image cap'>
                            </div>
                            <div ng-if="vm.post.body.content">
                              <img class='card-img-top', src="{{vm.post.body.content}}", alt='Card image cap'>
                            </div>
                          </div>
                        </div>
                        <div ng-if="vm.post.body.bodyType == 'embed'">
                          <div ng-if="vm.post.body.content != undefined">
                            <div ng-if="vm.post.body.content == '' ">
                              <img class='card-img-top', src='../resources/A_01.jpg', alt='Card image cap'>
                            </div>
                            <div ng-if="vm.post.body.content">
                              <iframe width="100%" height="120" src="{{vm.post.body.content}}" frameborder="0" ></iframe>
                            </div>
                          </div>
                        </div>
                        <div ng-if="vm.post.body.bodyType == 'text'">
                        </div>
                    </div>
                    <div><b>&nbsp;</b></div>
                    <form ng-submit="vm.editPo()" method="PUT">
                        <div class="form-group">
                            <label for="textarea">Description</label>
                            <textarea ng-model="vm.novDescription" class="form-control" id="exampleFormControlTextarea1" rows="3" name="textarea" required></textarea>
                            <div ng-if="vm.desRes == 'true'" class="alert alert-warning">Med 1 in 500 znakov</div>
                        </div>
                        <a>Tags</a>
                        <labels for="tags"></labels>
                        <input ng-model="vm.novTags" class="form-control mr-sm-2" type="text" placeholder="#ravnica" name="tags" required/>
                        <div ng-if="vm.tagsRes == 'true'" class="alert alert-warning">Neveljaven format</div>
                        <button class="btn btn-primary" id="gumb" type="submit">Save</button>
                        
                    </form>
                    <div ng-if="vm.response == 'success'" class="alert alert-info">Podatki spremenjeni!</div>
                    <div ng-if="vm.response == 'errorAdd'" class="alert alert-danger">Napaka!</div>
                    <div ng-if="vm.response == 'brezp'" class="alert alert-danger">Izpolni vsa polja!</div>
                </p>
              
                
            </div>
        </section>
      </div>
    </div>
  </div>
</main>
